:root {
  --black: #000;
  --black-light: #181818;
  --grey: #222;
  --grey-light: #333;
  --primary: #24cfe9;
  --primary-dark: #228797;
  --secondary: #FF87FF;
  --food: #F78D0C;

  --dim: calc(min(90vh, 96vw));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: inherit;
  font-weight: normal;
  border-width: 0;
}

html {
  font-size: 1vmin;
}

body {
  min-height: 100vh;
  color: var(--primary);
  background: var(--black-light);
  font-family: "Silkscreen", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
